@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color: #1E73BE;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.editorjsdiv h2{
  font-weight: 600;
  font-size: 18px;
}
.editorjsdiv h3, h4, h5{
  font-weight: 500;
  font-size: 16px;
}

.editorjsdiv li{
  margin-bottom: 10px;
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 25px;
}

.recent-posts {
  margin-top: 10px;
  font-weight: bold; /* In đậm */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Đổ bóng */
  text-align: center; /* Căn giữa */
}

th, td {
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.edit-button {
  display: flex;
  align-items: center;
  color: #007bff;
  font-size: 14px;
}

.edit-button svg {
  margin-right: 5px;
}

.admin-navigation {
  position: fixed; /* Cố định vị trí */
  top: 0; /* Đặt ở trên cùng */
  left: 0; /* Đặt ở bên trái */
  width: 250px; /* Chiều rộng của navigation */
  height: 100vh; /* Chiều cao bằng chiều cao của viewport */
  overflow-y: auto; /* Thêm cuộn dọc nếu nội dung vượt quá chiều cao */
  z-index: 1000; /* Đảm bảo nằm trên các phần tử khác */
}

.p-8 bg-white w-full{
  marginLeft: '40px'
}

.dropdown-filter {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.block.w-full {
  overflow-x: auto;
  overflow-y: visible;
}
